<div>"Emissions App running!"</div>
<p>Now check out the console for the API response.</p>
<router-outlet>
</router-outlet>
<h4>Filters</h4>
<!-- Select gas from the drop down menu: -->
<mat-form-field appearance="fill">
    <mat-label>Select Gas</mat-label>
    <mat-select [(value)]="selected" required>
        <mat-option *ngFor="let gas of gases" [value]="gas">{{ gas }}</mat-option>
        <!-- Initially, I had created the mat-options in place: -->
        <!-- <mat-option value="one">one</mat-option>
        <mat-option value="two">two</mat-option>
        <mat-option value="three">three</mat-option> -->
    </mat-select>
</mat-form-field><br>
<!-- Select country from the drop down menu: -->
<mat-form-field appearance="fill">
    <mat-label>Select Country</mat-label>
    <mat-select required>
        <mat-option *ngFor="let country of countries" [value]="country">{{ country }}</mat-option>
    </mat-select>
</mat-form-field>
<br>
<!-- A button when clicked, will result in transmission of a query to the Emissions API endpoint: -->
<button type="submit" mat-stroked-button color="primary" (click)="query('xyz')">Go</button>
<!-- query(#gasSelection) -->
<p>Selected value: {{selected}}</p>